
<mesh title="heading" class="flex-center offset-icons gap2">
    <h1><%= @feed.name %></h1>
    <%= render partial: "ui_components/mbmenu" %>
</mesh>

<%= form_for Post.new do |f| %>
    <mesh title="New post box" class="flex-center hgap2">
        <%= f.text_field :content, placeholder: "Paste a link to add to your feed" %>
        <%= f.hidden_field :feed_id, value: @feed.id %>
        <%= f.submit "+", class: "button primary submit", :disable_with => 'â³' %>
    </mesh>
<% end %>
