<post title="<%= post.title %>">
    <content class="text">
        <h3>
            <%= raw(post.content) %>
        </h3>
    </content>
    <handle>
        <mesh>
            <dot>
                <%= render partial: "ui_components/read_state_dot", locals: { post: post } %>
            </dot>
            <posttitle>
                <small>
                    <%= truncate(post.title, :length => 50) %>
                </small>
            </posttitle>
            <iconcontainer>
                <%= render partial: "ui_components/mbmenu" %>
            </iconcontainer>
        </mesh>
    </handle>
</post>