<post title="<%= post.title %>" type="<%= post.post_type %>" provider="<%= post.provider_name %>" >
    <content>
        <%= raw(post.content) %>
    </content>
    <handle>
        <mesh>
            <dot>
                <%= render partial: "ui_components/read_state_dot", locals: { post: post } %>
            </dot>
            <posttitle>
                <small>
                    <%= raw(post.title) %>
                </small>
            </posttitle>
            <iconcontainer>
                <% if @current_user.present? && post.feed.user_id == @current_user.id %>
                    <div class="drop drop--up">
                        <a> <%= render partial: "ui_components/mbmenu" %> </a>
                        <div class="drop__content -transition-slide-in">
                            <div class="drop-list -size-large -position-left -border-rounded">
                                <%= link_to 'Remove post', "/posts/#{post.id}", :method => :delete, class: "drop-list__btn" %>
                            </div>
                        </div>
                    </div>
                <% end %>
            </iconcontainer>
        </mesh>
    </handle>
</post>